---
const text = 'This text is Peach Fuzz colored';
---

<section class='bg-peachfuzz-100 p-4 shadow-md'>
	<h1 class='text-peachfuzz-950 font-bold'>{text}</h1>
  <p class='text-peachfuzz-950'>This text is Peach Fuzz colored</p>
</section>

<!--  pues si jala usar los colores custom y la importacion de fuentes exter:nas :) -->
